body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.front{
  background-image: url("https://static.toiimg.com/photo/59999507/.jpg" );
  height:500px;
  background-size: 100%;
}

.flex-container{
  padding-top: 8%;
  display: flex; 
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  /* margin-top:10%; */
}

.flex-container-countries{
  display: flex;
 /* justify-content: space-between; */
  flex-wrap: wrap;
}

.country{
  width:48.5%;
  height:300px;
  margin: 10px;
  background-size: 100%;
}

.expedia{
  background-color: black;
  padding-left:2%;
}

.cntry-name{
  color:white;
  padding:4%;
}

.App{
  background-color: black;
}

.img-description {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72); */
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.country:hover {
  opacity:0.5;
}
.country:hover .img-description {
  visibility: visible;
  opacity: 1;
  font-weight:900;
}

.or{
  color: white;
}